.app__home_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__home_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app__home_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.app__home_content img {
  width: 820px;
  height: 820px;
}

.app__home__cormorant {
  max-width: 80%;
  text-align: center;
  margin-top: 15%;
}

@media only screen and (max-width: 600px) {
  .app__home_content {
    flex-direction: column;
  }
  .app__home_content img {
    width: 420px;
    height: 420px;
  }
}
