.card-container {
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin-right: 25px;
  margin-bottom: 25px;
  max-width: 255px;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.image-container img {
  overflow: hidden;
  width: 255px;
  height: 255px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

.h3,
p {
  margin: 0;
  padding: 0;
}

.card-.title {
  margin-bottom: 0.5rem;
}

a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
